.notification-container {
  display: flex;
  border-top: 0.5px solid var(--gray);
  border-bottom: 0.5px solid var(--gray);
  font-size: 14px;
  padding-top: 18px;
  padding-bottom: 18px;
  padding-left: 15px;
  cursor: pointer;
}

.notification-container:hover {
  background: var(--overlay-background);
  /* filter: var(--overlay-background); */
}

.notification-like {
  fill: red;
  width: 20px;
  height: 20px;
}

.notification-people {
  padding-left: 12px;
}