.topBar-container {
  position: fixed;
  width: 580px;
  height: 60px;
  border-bottom: 1px solid var(--gray);
  background-color: rgb(21 32 43 / 75%);
  backdrop-filter: blur(10px);
  padding-left: 20px;
  font-size: 1.3rem;
  display: flex;
  align-items: center;
}