.profile-wrapper {
  margin-top: 60px;
}

.profile-banner {
  padding-bottom: 33.333%;
}

.profile-info-wrapper {
  margin-bottom: 16px;
}

.profile-picture {
  width: 130px;
  height: 130px;
  border-radius: 100%;
  border: 3px solid var(--primary);
  margin-left: 20px;
  margin-top: -65px;
}

.profile-displayName {
  color: white;
  font-weight: 800;
  font-size: 20px;
}

.profile-username {
  color: rgb(113, 118, 123);
  font-weight: 400;
  font-size: 15px;
}

.profile-name {
  margin: 20px;
}

.profile-description {
  margin-top: 10px;
  color: white;
  font-weight: 400;
  font-size: 15px;
}

.profile-stats {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.profile-stats-sub {
  display: flex;
  align-items: center;
  gap: 3px;
  font-size: 15px;
}

.profile-stats-number {
  font-weight: 800;
  color: white;
}

.profile-stats-name {
  color: rgb(113, 118, 123);
}

.profile-tabs {
  border-bottom: 1px solid rgb(113, 118, 123);
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.profile-tab {
  color: rgb(113, 118, 123);
  font-weight: 500;
  font-size: 16px;
  padding: 16px 20px;
  border-bottom: 4px solid transparent;
  font-weight: 800;
  cursor: pointer;
}

.profile-tab.active {
  color: white;
  border-bottom: 4px solid rgb(29, 155, 240);
}

.profile-location-icon {
  display: flex;

}

.location-active {
  fill: var(--white);
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.location-off {
  fill: var(--white);
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.location-non-allowed {
  fill: var(--gray);
  width: 20px;
  height: 20px;
  cursor: not-allowed
}