.navigation {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  height: 100vh;
  min-width: 20%;
  border-right: 1px solid var(--gray);
  position: sticky;
  border-width: thin;
}

.content {
  padding: 5px;
  margin: 5px;
}