.menu-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  min-width: 25%;
  position: sticky;
  height: 100vh;
}

.navigation {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  position: fixed;
  align-items: flex-start;
  padding-right: 40px;
  border-right: 1px solid var(--gray);
  border-width: thin;
  font-size: 1.3rem;
  height: 100vh;
  gap: 10px;
}

.navigation-element {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  align-items: center;
  padding: 10px;
  padding-right: 30px;
  padding-left: 15px;
}

.navigation-label {
  background-color: transparent;
}

.navigation-first-element {
  margin-top: 10px;
  padding: 15px;
}

.navigation-bottom {
  margin-top: auto;
  margin-bottom: 20px;
  font-size: 40px;
  gap: 10px;
  background-color: transparent;
  
}

.navigation-name {
  font-size: 0.9rem;
  font-weight: 600;
  background-color: transparent;
}

.navigation-username {
  font-size: 0.9rem;
  font-weight: 300;
  color: var(--gray-light);
  background-color: transparent;
}

.navigation-element:hover {
  background-color: var(--blue-hover);
  border-radius: 50px;
  cursor: pointer;
}


@media screen and (max-width: 1000px) {
  .navigation {
    padding-right: 20px;
  }

  .menu-container {
    min-width: 20%;
  }

  .navigation-first-element {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .navigation-element {
    padding-right: 10px;
    padding-left: 10px;
  }

  .navigation-label {
    display: none;
  }
}

@media screen and (max-width: 500px) {
  .navigation {
    align-items: center;
    padding-right: 10px;
    padding-left: 10px;
  }

  .menu-container {
    min-width: 15%;
  }
}

@media screen and (max-width: 400px) {
  .navigation {
    align-items: center;
    padding-right: 0px;
    padding-left: 0px;
  }

  .menu-container {
    min-width: 15%;
  }
}
