* {
  font-family: 'Inter', sans-serif;
  --webkit-font-smoothing: antialiased;
  transition: 0.3s;
  margin: 0;
  background-color: var(--primary);
  color: var(--white);
}

:root {
  --primary: rgb(21 32 43);
  --secondary: rgb(29 155 240);
  --overlay-background: rgb(30 39 50);
  --gray: rgb(55 68 77);
  --gray-light: rgb(102, 120, 133);
  --white: rgb(247 249 249);
  --blue-hover: rgb(38 51 64)
}

.app-base {
  display: flex;
  flex-direction: row;
}

.page-wrapper {
  display: flex;
  flex-direction: column;
  width: 600px;
  border-right: 1px solid var(--gray);
}